@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
   font-family: 'Poppins', sans-serif;
}
body {
   background-color: antiquewhite;
}

.recipe-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 2rem;
   justify-content: center;
   margin: 30px;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 5px;
   /* margin: 20px; */
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
   border-radius: 5px 5px 0 0;
   width: 100%;
}

.recipe-title {
   font-family: 'Poppins', sans-serif;
   padding: 2px 16px;
}

/* Recipe Details Styles */
.recipe-details-container {
   max-width: 70%;
   margin: 50px auto;
   padding: 10px;
   background-color: antiquewhite;
   border-radius: 15px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(100px, auto);
   grid-gap: 10px;
   grid-template-areas:
      "title image image "
      "title image image "
      "ingredients instructions instructions "
      "resources resources resources";
}

.recipe-details-container > * {
   /* background-color: cornflowerblue; */
   border-radius: 30px;
   padding: 30px;
}

.detail-title {
   font-family: 'Poppins', sans-serif;
   font-size: 30px;
   grid-area: title;
   display: flex;
   justify-content: center;
   align-items: center;
}

.detail-image {
   grid-area: image;
   border-radius: 15px;
   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* position: relative; */
}

#detail-image {
   width: 100%;
}

.detail-ingredients {
   font-family: 'Poppins', sans-serif;
   font-size: larger;
   grid-area: ingredients;
}

.detail-instructions {
   font-family: 'Poppins', sans-serif;
   font-size: larger;
   grid-area: instructions;
}

.detail-resources {
   grid-area: resources;
}



